@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

section{
    padding: 50px;
}

.banner{
    position: relative;
    min-height: 100vh;
    background: url(/Portfolio_v2/img/banner2.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 4.5em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 2em;
    font-weight: 700;
}

.banner h3 {
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}

.btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
    overflow: hidden;
}
.btn:hover {
    box-shadow: 0 0 10px #2196f3,
    0 0 30px #fff,
    0 0 70px #fff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1.2s;
}

header.sticky {
    background: #BABAC4;
    padding: 20px 100px;
}

header .logo{
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #01203F;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    font-size: 28px;
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
} 
header.sticky ul li a{
    color: #01203F;
}

.sobre {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #01203F;
}

.sobre h2{
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.contentBox {
    /*padding-right: 25px;*/
    padding-left: 25px;
    color: #01203F;
}

.contentBox h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
.contentBox p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px; 
}

.box {
    min-width: 50%;
}

img{
    width: 100%;
    padding-right: 25px;
}

.spaceJam {
    padding-right: 25px;
    background-color: #01203F;
    color: #FFFFFF;
    transition: 0.85s;
}

.spaceJamSobre {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.spaceJamSobre h2{
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}

.contentSpace {
    display: flex;
    justify-content: space-between;
}

.spaceJam h3 {
    font-size: 30px;
    margin-bottom: 10px;  
}

.spaceJam p {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;  
    padding: 10px ;
}

.boxJam {
    min-width: 50%;
    position: relative;
}
.boxJam .imgLebron{
   /* visibility: hidden;*/
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.7s;
}

/*.boxJam:hover .sec{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
*/
.boxJam .imgJordan{
    transition: 0.7s;
}

.contato {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #01203F;
}

.contato h2{
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}
.contato p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;    
}

.contato_conteudo {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    color: #01203F;
}

.contato_conteudo p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;    
}
.icon {
    font-size: 20px;
    margin-top: 10px;
}

.contatoInfoBX{
    position: relative;
    color: #01203F;
}
.contatoInfoBX .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contatoInfoBX .box .icon {
    min-width: 40px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.contatoInfoBX .box .text {
    display: flex;
    margin-left: 15px;
    font-size: 15px;
    flex-direction: column;
    font-weight: 300;
}

.contatoInfoBX h3{
    font-weight:bold;
    font-size: 25px;

}

.formBx {
    min-width: 65%;
    position: relative;
    color: #01203F;
}

.formBx form{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.formBx form input,
.formBx form textarea {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    resize: none;
}

.formBx form textarea {
    min-height: 200px;
}

.formBx form input[type="submit"]{
    cursor: pointer;
    text-transform: uppercase;
}

.formBx form input[type="submit"]{
    max-width: 300px;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
    overflow: hidden;
}
.formBx form input[type="submit"]:hover {
    box-shadow: 0 0 10px #BABAC4,
    0 0 30px #BABAC4,
    0 0 70px #BABAC4;
}

footer{
    position: relative;
    width: 100%;
    background: #0344dc;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #FFFFFF;
    margin: 0 10px;
    display: inline-block;
    transition: 0.2s;
}

footer .menu li a {
    font-size: 1.2em;
    color: #FFFFFF;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.2s;
}

footer .social_icon li a:hover{
    transform: translateY(-13px);
}

footer .menu li a:hover {
    opacity: 1;
    transform: translateY(-10px);
}

footer p {
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1em;
    opacity: 0.75;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/Portfolio_v2/img/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 10;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
    z-index: 9;
    opacity: 0.7;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}
footer .wave#wave3 {
    z-index: 10;
    opacity: 0.5;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 9;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}


@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}